html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #222;
}

.clickwrap {
  cursor: pointer;
}

.padding {
  padding-bottom: 2rem;
}

.navbar {
  padding: 0.47rem;
}

.navbar-nav li {
  padding-right: 1rem;
}

.nav-link {
  font-size: 17px !important;
}

.carousel-inner img {
  height: 100%;
  width: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 70px;
  text-shadow: 1px 1px 15px #222;
}

.carousel-caption h3 {
  font-size: 30px;
  font-weight: 500;
  text-shadow: 1px 1px 10px #222;
  padding-bottom: 1rem;
}

.jumbotron {
  padding-top: 4.7rem;
  padding-bottom: 4rem;
  margin-bottom: 0;
  border-radius: 0;
}

.projectsection {
  width: 70%;
  margin: 0 auto; /*center section*/
  padding-top: 4rem;
}

.projectsection hr {
  border-top: 2px solid #53a3d9;
  width: 90%;
  margin-bottom: 1rem;
}

/*cards*/
.d-flex {
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #53a3d9;
  border: 1px solid #53a3d9;
}

.btn-primary:hover {
  background-color: #53d2d9;
  border: 1px solid #53d2d9;
}

.btn-outline-secondary {
  margin-top: 1rem !important;
  border: 1px solid #a797ae;
}

.btn-outline-secondary:hover {
  background-color: #a797ae;
  border: 1px solid #a797ae;
}

footer {
  background-color: #3f3f3f;
  color: #dad9d7;
  padding-top: 2rem;
}

footer a {
  color: #dad9d7;
}

footer a:hover {
  color: #dad9d7;
}

hr.light {
  border-top: 1px solid #dad9d7;
  width: 75%;
}

hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
}

/*--- Media Queries --*/
/*--- mobile first! --*/
@media (min-width: 993px) {
  .carousel-caption {
    position: absolute;
    top: 47%;
  }

  .carousel-caption h1 {
    font-size: 60px;
  }

  .carousel-caption h3 {
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 0rem;
  }
}

@media (max-width: 992px) {
  .carousel-caption {
    position: absolute;
    top: 45%;
  }

  .carousel-caption h1 {
    font-size: 70px;
  }

  .carousel-caption h3 {
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 0rem;
  }
}

@media (max-width: 768px) {
  .carousel-caption {
    position: absolute;
    top: 40%;
  }

  .carousel-caption h1 {
    font-size: 50px;
  }

  .carousel-caption h3 {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 0rem;
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    position: absolute;
    top: 40%;
  }

  .carousel-caption h1 {
    font-size: 40px;
  }

  .carousel-caption h3 {
    font-size: 20px;
  }

  .projectsection {
    width: 70%;
    margin: 0 auto; /*center section*/
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

/* Below are the built in Bootstrap breakpoints for screen sizes (responsive layout) */
/* Example md will change the layout at 768px */
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
